
---
BasedOnStyle : Google

IndentWidth: 2

AccessModifierOffset    : -2
ColumnLimit             : 120
CommentPragmas          :  '^\\.+'
SpaceBeforeParens       : ControlStatements
SpaceInEmptyParentheses : false
Standard                : Latest

AllowShortBlocksOnASingleLine       : Never
AllowShortCaseLabelsOnASingleLine   : true
AllowShortEnumsOnASingleLine        : true
AllowShortFunctionsOnASingleLine    : InlineOnly
AllowShortIfStatementsOnASingleLine : false
AllowShortLambdasOnASingleLine      : All
AllowShortLoopsOnASingleLine        : false
BreakTemplateDeclarations           : Yes
IndentCaseLabels                    : false
IndentRequiresClause                : true
RequiresClausePosition              : OwnLine
RequiresExpressionIndentation       : OuterScope
